/* Root Scope */
:root {
    --primary-color: #00154F;
    --secondary-color: #F2BC94;
    --text-color: #fff;
    --max-width: 1100px;
}

/* Css Reset */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
} 

/* Font for h3 */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');

/* Tag Selector */
body {
    font: 1rem/1.5 'Nunito', sans-serif;
    color: var(--text-color);
    background: var(--secondary-color);
    padding-bottom: 50px;
    overflow-x: hidden;
    font-size: 18px;
}

h3 {
    font-family: 'Inria Serif', serif;
    color: #F2BC94;
}

 /* Header styles  */

#header {
    background-color: var(--primary-color);
    padding: 4rem 0;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
}

#header h1 {
    font-size: 2.3rem;
} 

/*  Section styles */

#timeline ul {
    background-color: var(--secondary-color);
    padding: 50px 0;
}

/* Creating the line in the middle */

#timeline ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: var(--text-color);
}

#timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background-color: var(--primary-color);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    
} 

#timeline a {
    text-decoration: none;
    color:#F2BC94;
}


/* Creating the left and right side of the page */

/* Right side */

li:nth-child(odd) div {
    left: 40px;
    transform: translateX(200px);
}

/* Left side */

li:nth-child(even) div {
    left: -434px ;
    transform: translateX(-200px);
}

/* Creating dot for each div */

/* Dots */
#timeline ul li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: inherit;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}

/* Arrows */
#timeline ul li div:before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
}

/* Right side arrow */
li:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--primary-color) transparent transparent;
}
/* Left-side */
li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent  transparent transparent var(--primary-color);
}

#timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

#timeline ul li.show:after {
    background: var(--primary-color);
}

/* Footer Styles */
footer {
    text-align: center;
}

footer img {
    width: 32px;
    height: 32px;
    transform: translateY(-1600px);
    animation: contact 1s forwards ease-in 10s;
    border-radius: 50%;
}

@keyframes contact {
    to { transform: translateY(0px); }
}

/* Media Query */
@media(max-width: 900px) {
    #timeline ul li div {
    width: 250px;
    }
    #timeline ul li:nth-child(even) div {
    left: -284px;
    }
    
}  

@media(max-width: 600px) {
    #timeline ul li {
        margin-left: 20px;
    }
    #timeline ul li div {
        width: calc(100vw - 90px);
    }

    #timeline ul li:nth-child(even) div {
        left: 40px;
    }

    li:nth-child(even) div:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--primary-color) transparent transparent;
    }
} 

